{% extends "layouts/base.html.twig" %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4">Pokédex</h1>
    <p class="lead">L'encyclopédie "des pokémons" qui t'aidera à mieux connaitre tes amis préférés.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Activation</a>
</div>
{% endblock %}
