{% extends "layouts/base.html.twig" %}

{% block body %}
<div class="jumbotron text-center border border-dark bg-light">
    <h1 class="display-4 text-success">Pokédex</h1>
    <p class="lead">Cette «Encyclopédie Pokémon» contient de nombreuses informations sur vos amis préférés.</p>
    <hr class="my-4">
    <a class="btn btn-outline-success my-2 my-sm-0" href="{{path('show_all_pokemons')}}" role="button">Activation</a>
</div>
{% endblock %}
