@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import 'shared/variables';

@import "~bootstrap";

body {
    // font-family: 'Parisienne', cursive;
    font-family: 'Electrolize', sans-serif;
}

.vignette{
    min-width:14em ;
    max-width:14em ;
    max-height:40em ;
    max-height:40em ;
}
